h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 2em;
  letter-spacing: 0;
  text-align: left;
  text-indent: 0;
  color: DarkCyan;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  letter-spacing: 0;
  text-indent: 0;
  color: rgb(100,100,90);
}
